
body{
    background-image: url(../../images/fondo.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-shadow: 5px 5px 5px rgba(24, 24, 24, 0.76) ;

}
h2 {
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-shadow: 5px 5px 5px rgba(24, 24, 24, 0.76) ;
}
.promedio--container {
    height: 400px;
    width: 85%;
    background-color: rgba(240, 255, 240, 0.26);
    backdrop-filter: blur(2px);
    border: rgba(240, 255, 240, 0.548) solid 0.5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    justify-self: center;
    box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.76) ;

}

button {
    color: white;
    font-size: 18px;
    font-family: 'Glory', sans-serif;
    font-weight: 400;
    text-shadow: rgba(56, 56, 56, 0.534) 2px 2px 2px;
    padding: 5px 10px;
    background: linear-gradient( rgb(252, 3, 86), rgb(202, 2, 69));
    border: none;
    border-radius: 3px;
    box-shadow: rgba(92, 91, 91, 0.548) 3px 3px 3px;
}

button:hover {
    background: rgb(5, 172, 144);
}
